body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-image:linear-gradient(to bottom right,#43cea2,#185a9d) 
}
.image-container{
    position: relative;
    width: 200px;
    height: 400px;
    transform-style: preserve-3d;
    transform: perspective(3000px) rotateY(0deg);
    transition: transform .8s;
}
.image-container span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--i)*120deg)) translateZ(200px);
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.buttons{
    position: relative;
    width: 80%;
}
.btn{
    position: absolute;
    bottom: -60px;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    font-family: sans-serif;
    cursor: pointer;
}
.prev{
    left: 30%;
}
.next{
    right: 30%;
}
.btn:hover{
    background-color: rgb(25, 173, 173);
    color: #fff;
}
