body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    /* background-color: black; */
}
span{
    background:url("https://cdn-icons-png.flaticon.com/512/210/210545.png");
    position: absolute;
    pointer-events: none;
    height: 80px;
    width: 80px;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: pop 6s linear;
}
@keyframes pop {
    0%{
        transform: translate(-50%,-50%);
        opacity: 1; 
        filter: hue-rotate(0);  
    }
    100%{
        transform: translate(-50%,-4000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}